# PyInstaller / build artifacts
dist/
build/
.spec

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual env
.venv/
venv/
env/

# Editor/temp
.vscode/
.idea/
*.log
*.tmp
Thumbs.db
.DS_Store

# Executables
*.exe

.vscode/
history_cache.json

# Environment variables (SENSÍVEL - NÃO FAZER COMMIT)
.env
.env.local
.env.*.local

# Banco de dados local
app/.app_pythonse/
app/dbhistory.db